/*
    ———————————————————————————————————————————————————————————————
    |Projeto NESPlay                                              |
    |Animações de borda giratória: CSS Houdini `@property --angle`|
    |Fluxo de gradiente no texto: `@keyframes gradientFlow`       |
    |                                                             |
    |Biblioteca de animações JS: Anime.js v3.2.1                  |
    ———————————————————————————————————————————————————————————————
*/

/*
   ————————————————————————————————————————————————
   |Houdini @property e keyframes globais         |
   ————————————————————————————————————————————————
*/
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotateBorder {
    0% {
        --angle: 0deg;
    }

    100% {
        --angle: 360deg;
    }
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

@keyframes bgMove {
    from {
        background-position: 100% 100%;
    }

    to {
        background-position: 0% 0%;
    }
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: -100% 50%;
    }
}

@keyframes reverseBorderTransition {
    from {
        border-color: transparent;
    }

    to {
        border-color: rgba(255, 255, 255, 0.7);
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@keyframes marquee {
    from {
        transform: translateX(var(--marquee-start));
    }

    to {
        transform: translateX(var(--marquee-end));
    }
}

@keyframes neonPulse {

    0%,
    100% {
        box-shadow:
            0 0 2px rgba(255, 0, 0, 0.5),
            0 0 4px rgba(154, 154, 154, 0.5),
            0 0 6px rgba(255, 255, 255, 0.5),
            0 0 8px rgba(154, 154, 154, 0.5),
            0 0 10px rgba(255, 0, 0, 0.5);
    }

    50% {
        box-shadow:
            0 0 4px rgba(255, 0, 0, 1),
            0 0 8px rgba(154, 154, 154, 1),
            0 0 12px rgba(255, 255, 255, 1),
            0 0 16px rgba(154, 154, 154, 1),
            0 0 20px rgba(255, 0, 0, 1);
    }
}

:root {
    --transition-duration: 0.4s;
    --border-radius: 0.75rem;
    --slider-track-height: 8px;
    --slider-thumb-size: 20px;
    --slider-color-filled: rgb(255, 0, 0);
    --slider-color-bg: rgb(68, 68, 68);
    --slider-transition: 0.3s;
    --slider-animation-speed: 2s;
    --vol-filled-color: rgb(255, 0, 0);
    --vol-bg-color: rgb(51, 51, 51);
    --vol-percent: 50%;
    --header-height: 4rem;
    --nav-height: 2.1rem;
    --top-for-sticky: 6.1rem;
}

main {
    flex: 1 0 auto;
    padding-top: 0;
}



.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

/* Nav fixo logo abaixo */
.sticky-nav {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    z-index: 1020;
}

/* Empurra todo o background/main para baixo, abaixo de header+nav */
.background {
    padding-top: calc(var(--header-height) + var(--nav-height) + 3rem);
}

header.border-bottom-animated-glass,
nav.border-bottom-animated-glass {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1030;
}

header.border-bottom-animated-glass {
    top: 0;
}

nav.border-bottom-animated-glass {
    top: var(--top-for-sticky);
}

nav.no-neon.border-bottom-animated-glass {
    top: calc(var(--top-for-sticky) + 0.1rem);
}

#volume-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    margin: auto;
    background: none;
}

#volume-slider::-webkit-slider-runnable-track {
    height: 8px;
    background: var(--vol-bg-color);
    border-radius: 50px;
    overflow: visible;
    background: linear-gradient(to right,
            var(--vol-filled-color) 0%,
            var(--vol-filled-color) var(--vol-percent),
            var(--vol-bg-color) var(--vol-percent),
            var(--vol-bg-color) 100%);
}

#volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    margin-top: -4px;
    cursor: pointer;
    transition: transform .2s;
}

#volume-slider:hover::-webkit-slider-thumb,
#volume-slider:active::-webkit-slider-thumb {
    transform: scale(1.2);
}

#volume-slider::-moz-range-track {
    height: 8px;
    background: var(--vol-bg-color);
    border-radius: 4px;
}

#volume-slider::-moz-range-progress {
    background: var(--vol-filled-color);
    height: 8px;
    border-radius: 4px;
}

#volume-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    transition: transform .2s;
}

#volume-display {
    font-size: 1.5em;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 100%;
}

.card-text {
    font-family: 'Press Start 2P', monospace;
    font-size: 1.4rem;
    line-height: 1.4;
}

.text-comment {
    font-family: 'Press Start 2P', monospace;
    font-size: 1.4rem;
}

.frosted-content {
    position: relative;
    z-index: 0;
    border-radius: inherit;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 2rem;
    display: block;
    width: fit-content;
    max-width: 100vw;
    margin: 0 auto;
}

header.border-animated-glass,
nav.border-animated-glass,
footer.border-animated-glass {
    width: 100%;
    max-width: 100%;
    display: block;
}

header,
nav,
footer {
    min-width: 100%;
}

#news-container .news-item .border-animated-glass {
    display: inline-block;
    width: fit-content;
    max-width: 90vw;
}

#news-container .news-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#news-container .news-item .frosted-content p,
#news-container .news-item .frosted-content h2,
#news-container .news-item .frosted-content span {
    word-break: break-word;
    overflow-wrap: break-word;
}

/*
=================================
>      Borda Neon Completa      <
=================================
*/
.border-animated-glass {
    z-index: 1;
    position: relative;
    border-radius: 1rem;
    overflow: visible;
    height: 100%;
}

.border-animated-glass::before {
    z-index: 1;
    content: "";
    position: absolute;
    inset: 0;
    padding: 3px;
    border-radius: inherit;
    background: conic-gradient(from var(--angle, 0deg),
            rgb(255, 0, 0),
            rgb(154, 154, 154),
            rgb(255, 255, 255),
            rgb(154, 154, 154),
            rgb(255, 0, 0));
    mask:
        linear-gradient(rgb(255, 255, 255) 0 0) content-box,
        linear-gradient(rgb(255, 255, 255) 0 0);
    mask-composite: exclude;
    -webkit-mask:
        linear-gradient(rgb(255, 255, 255) 0 0) content-box,
        linear-gradient(rgb(255, 255, 255) 0 0);
    -webkit-mask-composite: xor;
    animation: rotateBorder 1.6s linear infinite;
}

.border-animated-glass::after {
    z-index: 1;
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: transparent;
    box-shadow:
        0 0 2px rgba(255, 0, 0, 0.5),
        0 0 4px rgba(154, 154, 154, 0.5),
        0 0 6px rgba(255, 255, 255, 0.5),
        0 0 8px rgba(154, 154, 154, 0.5),
        0 0 10px rgba(255, 0, 0, 0.5);
    animation: neonPulse 1.9s ease-in-out infinite;
    pointer-events: none;
}

/*
=================================
==FIM--Borda Neon Completa--FIM==
=================================
*/

/*
=================================
>        Borda Neon Topo        <
=================================
*/
.border-top-animated-glass {
    z-index: 1;
    position: relative;
    overflow: visible;
    height: 100%;
}

.border-top-animated-glass::before {
    z-index: 2;
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    padding: 3px 0 0 0;
    background: conic-gradient(from var(--angle, 0deg),
            rgb(255, 0, 0),
            rgb(154, 154, 154),
            rgb(255, 255, 255),
            rgb(154, 154, 154),
            rgb(255, 0, 0));
    mask:
        linear-gradient(rgb(255, 255, 255) 0 0) content-box,
        linear-gradient(rgb(255, 255, 255) 0 0);
    mask-composite: exclude;
    -webkit-mask:
        linear-gradient(rgb(255, 255, 255) 0 0) content-box,
        linear-gradient(rgb(255, 255, 255) 0 0);
    -webkit-mask-composite: xor;
    animation: rotateBorder 1.6s linear infinite;
}

.border-top-animated-glass::after {
    z-index: 1;
    content: "";
    position: absolute;
    inset: 0;
    background: transparent;
    box-shadow:
        0 0 2px rgba(255, 0, 0, 0.5),
        0 0 4px rgba(154, 154, 154, 0.5),
        0 0 6px rgba(255, 255, 255, 0.5),
        0 0 8px rgba(154, 154, 154, 0.5),
        0 0 10px rgba(255, 0, 0, 0.5);
    animation: neonPulse 1.9s ease-in-out infinite;
    pointer-events: none;
}

/*
=================================
====FIM--Borda Neon Topo--FIM====
=================================
*/

/*
=================================
>        Borda Neon Base        <
=================================
*/
.border-bottom-animated-glass {
    position: relative;
    overflow: visible;
    --angle: 0deg;
}

.border-bottom-animated-glass::before,
.border-bottom-animated-glass::after {
    content: "";
    position: absolute;
    inset: 0;
    padding: 0 0 3px 0;
    border-radius: 0;
    pointer-events: none;
}

/* faixa nítida de gradiente */
.border-bottom-animated-glass::before {
    z-index: 2;
    background: conic-gradient(from var(--angle),
            rgb(255, 0, 0),
            rgb(154, 154, 154),
            rgb(255, 255, 255),
            rgb(154, 154, 154),
            rgb(255, 0, 0)) border-box;
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    animation: rotateBorder 1.6s linear infinite;
}

/* glow pulsante */
.border-bottom-animated-glass::after {
    z-index: 1;
    background: transparent;
    box-shadow:
        0 0 2px rgba(255, 0, 0, 0.5),
        0 0 4px rgba(154, 154, 154, 0.5),
        0 0 6px rgba(255, 255, 255, 0.5),
        0 0 8px rgba(154, 154, 154, 0.5),
        0 0 10px rgba(255, 0, 0, 0.5);
    filter: blur(4px);
    opacity: 0.6;
    animation:
        rotateBorder 1.6s linear infinite,
        neonPulse 1.9s ease-in-out infinite alternate;
}

/*
=================================
====FIM--Borda Neon Base--FIM====
=================================
*/

.no-neon.border-animated-glass::before,
.no-neon.border-animated-glass::after,
.no-neon.border-top-animated-glass::before,
.no-neon.border-top-animated-glass::after,
.no-neon.border-bottom-animated-glass::before,
.no-neon.border-bottom-animated-glass::after {
    opacity: 0 !important;
    animation: none !important;
}

.border-animated-glass.no-neon::before,
.border-animated-glass.no-neon::after {
    opacity: 0 !important;
    animation: none !important;
}

.border-animated-glass.no-neon .success-message,
.border-top-animated-glass.no-neon .success-message,
.border-bottom-animated-glass.no-neon .success-message {
    border: none !important;
    box-shadow: none !important;
}


.cards-animated {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards-animated:hover {
    transform: translateY(-8px);
    box-shadow:
        0 0 10px rgba(255, 0, 0, 0.6),
        0 0 14px rgba(255, 255, 255, 0.4),
        0 0 18px rgba(154, 154, 154, 0.4);
    transition: transform 0.2s ease-in-out;
}

h1.game-text {
    padding-top: 40px;
    padding-bottom: 40px;
}

h2.game-text {
    padding-bottom: 10px;
}

.scroll-marquee {
    overflow: hidden;
    position: relative;
    height: 1.5em;
    --marquee-start: 0px;
    --marquee-end: 0px;
    --marquee-duration: 6s;
}

.scroll-marquee span {
    display: inline-block;
    white-space: nowrap;
}

.scroll-marquee .marquee-text.animate {
    animation:
        marquee var(--marquee-duration) linear infinite;
}

.marquee-text {
    display: inline-block;
    white-space: nowrap;
    background: linear-gradient(90deg,
            rgb(255, 0, 0),
            rgb(154, 154, 154),
            rgb(255, 255, 255),
            rgb(154, 154, 154),
            rgb(255, 0, 0));
    background-size: 200% 100%;
    background-position: 0% 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: none;
}

#canvas-wrapper {
    background-image: url('./img/fundo_canvas.png');
    background-repeat: repeat;
    background-size: auto;
    position: relative;
    z-index: 0;
    animation: bgMove 30s linear infinite;
}

#canvas-wrapper:fullscreen,
#canvas-wrapper:-webkit-full-screen,
#canvas-wrapper:-moz-full-screen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-animated-border {
    --angle: 0deg;
    position: relative;
    display: inline-block;
    padding: 7px;
    border-radius: var(--border-radius);
    background: transparent;
    z-index: 1;
}

.canvas-animated-border::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 4px;
    border-radius: 1px;
    background: conic-gradient(from var(--angle),
            rgb(255, 0, 0),
            rgb(154, 154, 154),
            rgb(255, 255, 255),
            rgb(154, 154, 154),
            rgb(255, 0, 0)) border-box;
    -webkit-mask:
        linear-gradient(rgb(255, 255, 255) 0 0) content-box,
        linear-gradient(rgb(255, 255, 255) 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    animation: rotateBorder 3s linear infinite;
    pointer-events: none;
    z-index: -1;
}

#nes-canvas {
    width: 100%;
    height: auto;
    max-height: 99vh;
    max-width: calc(100vh * (256 / 240));
    image-rendering: pixelated;
}

body.no-anim *:not(.marquee-text),
body.no-anim *:not(.marquee-text)::before,
body.no-anim *:not(.marquee-text)::after {
    animation: none !important;
    transition: none !important;
}

body {
    --sb-track-color: rgb(37, 37, 37);
    --sb-thumb-color: rgb(255, 0, 0);
    --sb-size: 14px;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
    border: 2px solid rgb(109, 109, 109);
}

.background {
    position: relative;
    overflow: hidden;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('./img/fundo.jpg') center/cover no-repeat;
}


.block {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    opacity: 0.05;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
    transform-origin: top left;
    z-index: 0;
    pointer-events: none;
}

.logotipo {
    max-width: 48px;
    height: auto;
}

#texto-logotipo {
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 1.75rem;
    max-width: 240px;
    width: 100%;
    letter-spacing: 0.2em;
}

#texto-logotipo span {
    display: inline-block;
}

.icon-square img {
    max-width: 32px;
}

.fs-2 {
    font-size: 1.5rem;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.gradiente {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    color: rgb(255, 255, 255);
    z-index: 1;
}

.gradiente fieldset {
    border: none;
    padding: 0;
    margin: 0 0 1.5rem;
}

.gradiente legend {
    color: rgb(255, 255, 255);
}

.gradiente .form-control,
.gradiente .form-select {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
}

.gradiente .form-select:focus {
    box-shadow: none;
}

.gradiente::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    background: linear-gradient(270deg,
            rgb(255, 0, 0),
            rgb(94, 94, 94),
            rgb(0, 0, 0),
            rgb(255, 0, 0),
            rgb(255, 0, 0),
            rgb(255, 0, 0));
    background-size: 300% 100%;
    opacity: 0.1;
    z-index: -1;
    animation: gradientShift 7s linear infinite;
}


.nav-link {
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.texto-gradiente {
    background: linear-gradient(90deg,
            rgb(255, 0, 0),
            rgb(154, 154, 154),
            rgb(255, 255, 255),
            rgb(154, 154, 154),
            rgb(255, 0, 0));
    background-size: 200% 100%;
    background-position: 0% 0%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientFlow 3s linear infinite;
}

.nav-link:hover,
.nav-link:focus {
    transform: translateY(-2px);
    background: linear-gradient(90deg,
            rgb(255, 0, 0),
            rgb(154, 154, 154),
            rgb(255, 255, 255),
            rgb(154, 154, 154),
            rgb(255, 0, 0));
    background-size: 200% 100%;
    background-position: 0% 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation: gradientFlow 3s linear infinite;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,
            rgb(255, 0, 0),
            rgb(154, 154, 154),
            rgb(255, 255, 255),
            rgb(154, 154, 154),
            rgb(255, 0, 0));
    background-size: 200% 100%;
    background-position: 0% 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.nav-link:hover::after,
.nav-link:focus::after {
    opacity: 1;
    animation: gradientFlow 3s linear infinite;
}

.btn-animated {
    --angle: 0deg;
    position: relative;
    display: inline-block;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    line-height: 1;
    background: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    text-decoration: none;
    overflow: hidden;
    border: none;
    border-radius: 0.5rem;
    transition: transform 0.2s ease-in-out;
}

.btn-animated::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: inherit;
    background: conic-gradient(from var(--angle),
            rgb(255, 0, 0),
            rgb(154, 154, 154),
            rgb(255, 255, 255),
            rgb(154, 154, 154),
            rgb(255, 0, 0)) padding-box;
    -webkit-mask:
        linear-gradient(rgb(255, 255, 255) 0 0) content-box,
        linear-gradient(rgb(255, 255, 255) 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    animation: rotateBorder 3s linear infinite;
    pointer-events: none;
    z-index: 1;
}

.btn-animated:hover {
    transform: translateY(-2px) scale(1.02);
    background: none;
    background-image: linear-gradient(90deg,
            rgb(255, 0, 0),
            rgb(154, 154, 154),
            rgb(255, 255, 255),
            rgb(154, 154, 154),
            rgb(255, 0, 0));
    background-size: 200% 100%;
    background-position: 0 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation:
        rotateBorder 3s linear infinite,
        gradientFlow 3s linear infinite;
    z-index: 2;
}

.form-select {
    --angle: 0deg;
    position: relative;
    width: 100%;
    padding: 0.5rem 0.75rem;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 3px solid transparent;
    border-radius: 0.5rem;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: .65rem .8rem;
    transition: border-image 0.3s ease-in-out, background-color 0.3s ease-in-out;
    outline: none;
    z-index: 1;
}

.form-select:focus,
.form-select:hover {
    border-image: conic-gradient(from var(--angle),
            rgb(255, 0, 0),
            rgb(154, 154, 154),
            rgb(255, 255, 255),
            rgb(154, 154, 154),
            rgb(255, 0, 0)) 1;
    animation: rotateBorder 3s linear infinite;
    background-color: rgba(0, 0, 0, 0.5);
}

.form-control {
    position: relative;
    width: 100%;
    padding: 0.5rem 0.75rem;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 3px solid transparent;
    border-radius: 0;
    transition: background-color 0.3s ease-in-out,
        color 0.3s ease-in-out,
        border-image 0.3s ease-in-out;
    outline: none;
}

.form-control:focus {
    border-image: conic-gradient(from var(--angle),
            rgb(255, 0, 0),
            rgb(154, 154, 154),
            rgb(255, 255, 255),
            rgb(154, 154, 154),
            rgb(255, 0, 0)) 1;
    background-color: rgba(0, 0, 0, 0.5);
    animation: rotateBorder 3s linear infinite;
    box-shadow: none;
}

.form-control:not(:focus) {
    animation: reverseBorderTransition var(--transition-duration) forwards;
}

.form-floating>label {
    transition:
        transform var(--transition-duration) ease-in-out,
        opacity var(--transition-duration) ease-in-out;
}

.input-file-animated {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
    max-width: 400px;
}

.file-input {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.input-file-animated {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.file-name {
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    white-space: normal;
    word-break: break-word;
}

.border-animated-glass.fade-message,
.border-top-animated-glass.fade-message,
.border-bottom-animated-glass.fade-message {
    animation: fadeInOut 4s ease-in-out forwards;
}

@media (min-width: 1200px) {
    main#hanging-icons {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

@media (min-width: 1085px) {
    header.sticky-header .container-fluid {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;
        overflow-x: visible;
        text-align: left;
        gap: 0;
    }

    header.sticky-header .container-fluid>#div-logo {
        order: 0;
        flex-shrink: 0;
        margin-right: 1rem;
        white-space: nowrap;
    }

    header.sticky-header .container-fluid>.scroll-horizontal-buttons {
        order: 1;
        width: auto;
        overflow-x: visible;
        padding-bottom: 0;
    }

    header.sticky-header .container-fluid>.scroll-horizontal-buttons .d-flex {
        display: flex !important;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        gap: 0.75rem;
        white-space: normal;
    }

    header.sticky-header .container-fluid>.scroll-horizontal-buttons .d-flex>* {
        flex-shrink: 0;
        white-space: normal;
    }
}

@media (max-width: 1084px) {
    .gradiente {
        padding: 0.75rem;
    }

    #texto-logotipo {
        font-size: 1.5rem;
        padding-top: 0.3rem;
        margin-top: 0.3rem;
        white-space: nowrap;
    }

    #div-logo {
        flex-shrink: 0;
        align-self: center;
        white-space: nowrap;
    }

    .btn-outline-secondary.me-2 {
        margin-right: 0;
    }

    .background {
        padding-top: calc(var(--header-height) + var(--nav-height) + 10rem);
    }

    nav.border-bottom-animated-glass {
        top: calc(var(--top-for-sticky) + 4.43rem);
    }

    nav.no-neon.border-bottom-animated-glass {
        top: calc(var(--top-for-sticky) + 4.55rem);
    }

    header .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
        overflow-x: hidden;
    }

    header .scroll-horizontal-buttons {
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 0.5rem;
    }

    header .scroll-horizontal-buttons .d-flex {
        display: flex !important;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1rem;
        white-space: nowrap;
    }

    header .scroll-horizontal-buttons::-webkit-scrollbar {
        height: 6px;
    }

    header .scroll-horizontal-buttons::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 3px;
    }

    header .scroll-horizontal-buttons .d-flex>* {
        flex-shrink: 0;
        white-space: nowrap;
        padding: 0.5rem 1rem;
    }

    nav.scroll-horizontal .container-fluid {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        gap: 1rem;
        padding-bottom: 0.5rem;
    }

    nav.scroll-horizontal .container-fluid>.nav {
        flex: 0 0 auto;
    }

    nav.scroll-horizontal .container-fluid::-webkit-scrollbar {
        height: 6px;
    }

    nav.scroll-horizontal .container-fluid::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 3px;
    }
}


@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}