main#hanging-icons {
    flex: 1;
}

.background {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-image: url('./img/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.block {
    z-index: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    opacity: 5%;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
    transform-origin: top left;
}

header,
nav,
footer {
    z-index: 1;
    width: 100%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .1), -4px -4px 10px rgba(0, 0, 0, .1);
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#card {
    z-index: 1;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .1), -4px -4px 10px rgba(0, 0, 0, .1);
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

h1 span {
    display: inline-block;
}

h1 {
    font-size: 2.5em;
}

#texto-logotipo {
    width: 240px;
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}